@import url("https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Sono", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* transition: all 0.2s linear; */
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.rotate {
  transform: rotate(90deg);
}
/* header */

header {
  min-height: calc(100vh - 3rem);
}
header > .flex {
  justify-content: space-between;
  align-items: center;
}

nav {
  /* background: rgb(255, 163, 163); */
  box-shadow: 1px 1px 10px grey;
}
ul {
  list-style-type: none;
}
header a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  letter-spacing: 4px;
  margin: 0 0.625rem;
  font-size: 1.2rem;
  transition: all 0.3s;
}
header a:hover {
  color: dodgerblue;
}
.social-links a {
  color: dodgerblue;
}

/* ham-menu */

.ham-menu {
  display: none;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

@media (max-width: 992px) {
  .header-icon {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .header > .flex {
    flex-direction: column;
  }

  .social-links {
    display: none;
  }
  .ham-menu {
    display: initial;
  }
  .links {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  .links-active {
    height: 15rem;
  }
  .links li {
    transition: all 0.3s;
    padding: 5px;
    padding-left: 1.5rem;
  }
  .links li:hover {
    transition: all 0.3s;
    padding-left: 2rem;
    background-color: rgba(30, 143, 255, 0.323);
  }
  .links .flex {
    display: block;
  }
}
