@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sono:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Sono", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}
:root {
  --dark-grey: hsl(209, 61%, 16%);
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.container {
  width: clamp(375px, 100%, 1200px);
  margin: auto;
}
.underline {
  height: 0.25rem;
  background: dodgerblue;
  width: 5rem;
  margin: 0.6rem auto 3rem;
}
main {
  /* background-color: coral; */
  min-height: calc(100vh - 3rem);
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: dodgerblue; */
  color: var(--clr-white);
  display: grid;
  place-items: center;
  transition: all 0.25s linear;
  text-align: center;
}
.slider-container {
  position: relative;
  border: 5px solid dodgerblue;
  width: 100%;
  margin: 0 auto;
  height: 60vh;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 4rem;
}

/* used javascript for this */
/* .slide:nth-child(1) {
  transform: translateX(0%);
}
.slide:nth-child(2) {
  transform: translateX(100%);
}
.slide:nth-child(3) {
  transform: translateX(200%);
}
.slide:nth-child(4) {
  transform: translateX(300%);
} */

/* btn container */
.btn-container {
  width: 100%;
  gap: 3rem;
  margin-top: 2rem;
}
button {
  background-color: transparent;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  outline: none;
  font-size: 1.3rem;
  padding: 0 5px;
  transition: all 0.3s;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  color: #fff;
  background-color: dodgerblue;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
:where(img) {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}
