@import url("https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
* {
  /* font-family: "Sono", sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: azure;
}
:root {
  --dark-grey: hsl(209, 61%, 16%);
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.container {
  width: clamp(450px, 50%, 700px);
  margin: auto;
}
main {
  min-height: calc(100vh - 3rem);
}

h1 {
  font-family: "Henny Penny", cursive;
  font-size: 3rem;
  text-align: center;
  color: rgb(252, 197, 130);
  letter-spacing: 2px;
  margin-bottom: 6rem;
  padding-top: 6rem;
}
/*each  question */
.questions {
  align-items: center;
  padding: 1.5rem 1rem;
  margin: 2rem 0;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.492);
  border-radius: 0.625rem;
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: rgb(122, 122, 122);
}
.question-title {
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.question-title p {
  color: var(--dark-grey);
}
.question-text {
  border-top: 1px solid rgb(252, 197, 130);
  margin-top: 1rem;
  display: none;
}
.question-text p {
  margin: 1rem 0 0;
}
.minus-icon {
  display: none;
}
button {
  background-color: transparent;
  border: none;
  color: rgb(252, 197, 130);
  cursor: pointer;
  font-size: 1.5rem;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

/* dynamic classes */

.unhide-text {
  display: block;
}
.hide-icon {
  display: none;
}
.unhide-icon {
  display: inline;
}
