@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sono:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --dark-grey: hsl(209, 61%, 16%);
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.container {
  width: clamp(375px, 100%, 1200px);
  margin: auto;
}
section {
  background-color: #fff;
}
.underline {
  height: 0.25rem;
  background: dodgerblue;
  width: 5rem;
  margin: 0.6rem auto 3rem;
}
.vh-100 {
  height: calc(100vh - 1px);
}
.vw-100 {
  width: calc(100vw - 1px);
}
.v-fill {
  min-height: calc(100vh - 3rem);
}
/* header */
header {
  background: url(bg-1.jpg) top/cover no-repeat;
  padding: 0 1rem;
}
/* nav */
nav {
  background-color: transparent;
  transition: 01s all linear;
}
.nav-center {
  justify-content: space-between;
}
.links.flex {
  justify-content: space-between;
}
li {
  padding: 0.625rem 0;
}
.link-container {
  flex: 0 1 400px;
}
ul * {
  color: rgb(109, 214, 223);
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.nav-header {
  justify-content: space-between;
  flex: 1;
}
.nav-toggle {
  display: none;
  border: none;
  outline: transparent;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

/* banner */
.banner {
  color: #fff;
  text-align: center;
}
.banner .container > * {
  margin-bottom: 2rem;
}
.scroll {
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}
/* back to top btn */
.back-link {
  z-index: -10;
  visibility: hidden;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  background-color: aquamarine;
  border-radius: 10px;
  color: rgb(6, 51, 30);
  animation: scale 1s infinite linear;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*  */
footer {
  height: 6rem;
  background-color: var(--dark-grey);
}

:where(img) {
  width: 50px;
}
@media (max-width: 800px) {
  .nav-toggle {
    display: block;
  }
  .link-container {
    /* background-color: red; */
    width: 100%;
    flex: 1 1 auto;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }
  .links.flex {
    flex-direction: column;
  }
}
@media (min-width: 800px) {
  .link-container {
    height: auto !important;
  }
}

/* dynamic classes */
.un-hide {
  z-index: 10;
  visibility: visible;
}
.hide {
  display: hide;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 10px grey;
  background-color: #fff;
  width: 100%;
}
