/* Google font CDN  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
header .flex {
  height: 4rem;
  letter-spacing: 3px;
}
header .flex > * {
  text-align: center;
  flex: 1 0 150px;
  font-weight: 800;
  font-size: 1.2rem;
}
:is(.simple, .hex):hover {
  cursor: pointer;
  color: rgba(78, 156, 26, 0.784);
  transition: color 0.5s;
}

/* section */

section .flex {
  height: calc(100vh - 4rem);
  text-align: center;
  background: rgba(78, 156, 26, 0.52);
}

section :is(button, h1) {
  border-radius: 10px;
  letter-spacing: 3px;
}
section h1 {
  background-color: black;
  color: #fff;
  width: 70vw;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

section button {
  padding: 0.625rem 1rem;
  font-weight: 700;
  font-size: 1rem;
  outline: transparent;
  border: 2px solid black;
  transition: background-color 0.5s;
  cursor: pointer;
}

button:hover {
  background: black;
  color: #fff;
}
